* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    background-color: azure;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    cursor: pointer;
    text-align: center;
    background-color: aqua;
    color: black;
    border: 1px;
    border-radius: 4px;
    text-decoration: none;
}

.addtodo-button{
    background-color: blueviolet;
    cursor: pointer;
    text-align: center;
    color: wheat;
    border: 2px;
    border-radius: 3px;
}